.product-section {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 120px 0;
    }
    &__item {
        position: relative;
        margin: 15px;
    }
    // &__image {}
    &__left-content {
        position: absolute;
        max-width: 260px;
        top: 60px;
        right: 0;
    }
    &__right-content {
        position: absolute;
        max-width: 250px;
        top: 60px;
        left: 50px;
    }
    &__title {
        padding-bottom: 20px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }
    &__text {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        opacity: 0.7;
    }
    &__price {
        padding: 10px 0;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: #F6762C;
    }
    &__old-price {
        text-decoration-line: line-through;
        opacity: 0.5;
    }
    &__button {
        display: block;
        width: 140px;
        height: 40px;
        line-height: 40px;
    }
}